/*--------------------------------------------------------------
 *## Content Navigation
 *-------------------------------------------------------------- */
.comment-navigation,
.posts-navigation,
.post-navigation,
.paging-navigation
	background-color: $white
	padding: 1gr
	font-weight: 700
	border-radius: 2px

	.nav-links
		display: flex
		justify-content: space-between

	.nav-next
		margin-left: auto