/*--------------------------------------------------------------
 *## Content Navigation
 *-------------------------------------------------------------- */
.comment-navigation,
.posts-navigation,
.post-navigation,
.paging-navigation
	margin-top: 3gr

	.nav-links
		display: flex
		justify-content: center

	.nav-links a
		@extends $button

	.nav-previous
		margin-right: 1gr