blockquote, q
	quotes: "“ ”"

hr
	background-color: $light
	border: 0
	height: 1px
	margin-bottom: 1vr


figure
	margin: 0

p
	margin-top: 0
	margin-bottom: 1gr

dfn, cite, em, i
	font-style: italic

blockquote
	position: relative
	margin: 2gr auto
	padding: 2gr
	background-color: $white
	border-radius: 2px
	p
		margin: 0 auto

	&:before, &:after
		position: absolute
		font-size: 8sx
		line-height: 100%
		color: $accent_alt
		opacity: .1

	&:before
		top: .5rem
		left: 1rem
		content: "❝"


	&:after
		bottom: -.5rem
		right: 1rem
		content: "❞"

address
	margin-bottom: 1gr

pre
	background: $white
	font-family: "Courier 10 Pitch", Courier, monospace
	margin-bottom: 1gr
	padding: 2gr
	max-width: 100%
	overflow: auto


code, kbd, tt, var
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace
	font-size: 0sx

abbr, acronym
	border-bottom: 1px dotted $light
	cursor: help

mark, ins
	background: #fff9c0
	text-decoration: none

big
	font-size: 2sx
	line-height: auto
