/*--------------------------------------------------------------
 *## Links
 *-------------------------------------------------------------- */

// Generic Links
a
	color: $link_color
	text-decoration: none
	outline: 0

	&:visited
		color: $dark


	&:hover, &:focus, &:active
		color: $accent

	&:hover, &:active
		outline: 0
