/*--------------------------------------------------------------
 *## Links
 *-------------------------------------------------------------- */

// Generic Links
a
	color: $accent_alt
	text-decoration: none
	outline: 0
	transition: color .2s ease

	&:hover, &:focus, &:active
		color: $accent

	&:hover, &:active
		outline: 0

$link--textual
	color: $text_color
	&:hover, &:focus, &:active
		color: $accent