body
	background-color: $light_alt

.layout-inner
	width: 90vw
	margin-left: auto
	margin-right: auto


.site, .not-found
	/* Give the site a minimum height to stick the footer to the bottom */
	min-height: calc(100vh - 28.5rem)

.has-sidebar .site
	display: grid
	grid-template-columns: 7fr 2fr
	grid-gap: 2gr

	@media $portable
		grid-template-columns: 1fr
	.site-content
		max-width: 100%

