body
	background-color: $light_alt

.layout-inner
	width: 90vw
	margin-left: auto
	margin-right: auto


.has-sidebar .site
	display: grid
	grid-template-columns: 7fr 2fr
	grid-gap: 2gr

	@media $portable
		grid-template-columns: 1fr
	.site-content
		max-width: 100%

