/*--------------------------------------------------------------
 *## Captions
 *-------------------------------------------------------------- */
.wp-caption
	margin-bottom: 2gr
	max-width: 100%
	font-size: 0sx
	color: $gray
	text-align: center
	a
		color: inherit

	img[class*="wp-image-"]
		center-block()

	.wp-caption-text
		margin: .5gr auto 1.5gr auto

/*
	WordPress captioned images set a static width on the element with inline styles
	We don't want that:
 */
figure.wp-caption
	width: 100% !important