$button
	border: 0
	background-color: $black
	color: $white
	padding: 0.5gr 1.5gr
	line-height: auto
	outline: 0
	border-radius: 2em
	transition: all .48s ease

	&:hover
		background-color: lighten($black, 15)

	&:focus
		background-color: lighten($black, 25)

$button--small
	@extend $button
	padding: .25gr 1gr
	text-decoration: none
	border: 1px solid $light


$button--light
	@extend $button
	background-color: $white
	color: $dark

	&:focus
		background-color: $bright

$button--tag
	border-radius: 6px
	padding: .125gr .5gr
	text-decoration: none
	background-color: $white

button,
input[type="button"],
input[type="reset"],
input[type="submit"]
	@extend $button

	&:hover,
	&:active,
	&:focus
		background-color: $dark
		color: $white