$button
	border: 0
	background-color: $accent_alt
	color: $white
	padding: 0.5gr 1.5gr
	line-height: auto
	outline: 0
	border-radius: 2em
	transition: all .33s ease
	font-size: 0sx
	box-shadow: $shadow

	&:hover
		background-color: $accent
		color: $white

	&:focus
		background-color: lighten($black, 25)

$button--small
	@extend $button
	padding: .25gr 1gr
	text-decoration: none
	border: 1px solid $light


$button--light
	@extend $button
	background-color: $white
	color: $dark

	&:focus
		background-color: $bright

$button--tag
	border-radius: 6px
	padding: .125gr .5gr
	text-decoration: none
	background-color: $white
	box-shadow: $shadow

.site
	.button
		display: inline-block

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.button
		@extend $button

		&:hover,
		&:active
			background-color: $accent
			color: $white

		&:focus
			transform: translateY(3px)