/*--------------------------------------------------------------
 *## Comments
 *-------------------------------------------------------------- */

.comments-area
	margin-bottom: 2gr
	padding: 1gr 0
	max-width: $max_width
	margin-left: auto
	margin-right: auto
	
	.single-post &
		max-width: $content_width

.comments-title,
.comment-reply-title
	font-size: 2sx
	line-height: auto

.comment-list
	padding: 0
	margin: 0
	list-style-type: none
	ol
		list-style-type: none

.comment-body
	margin-bottom: 2gr

.comment-meta
	position: relative


.comment
	.avatar
		position: absolute
		left: calc(-50px - 1gr)
		width: 2gr
		height: @width
		border-radius: 50%

	.children
		margin-left: 3gr
		padding-left: 0


.comment-metadata
	padding-bottom: 1gr
	font-size: 0sx
	a
		opacity: .5
		&:hover
			opacity: 1

.comment-author
	font-size: 1sx
	line-height: auto


.reply
	margin-bottom: 1gr
	font-weight: 500
	font-family: $font_alt
	text-transform: uppercase
	font-size: 0sx


.comment-content
	ol
		list-style-type: decimal
	a
		word-wrap: break-word

.bypostauthor .avatar
	box-sizing: content-box

/* Comment Form */

.comment-form
	line-height: auto
	a
		font-weight: 500
	.form-submit
		text-align: right

	.form-submit input
		padding: .25gr 1gr
		line-height: auto
		text-decoration: none

	label
		display: block

	.required
		color: #D54E21

.pingback
	.comment-body
		padding: 1gr 0
	a
		font-style: italic
		text-decoration: none
