.not-found
	text-align: center
	display: flex
	flex-direction: column
	justify-content: center

	.page-header
		margin-bottom: 1gr

	.page-title
		font-size: 5sx
		font-weight: 700
		letter-spacing: .01em
