/*--------------------------------------------------------------
 *## Posts and pages
 *-------------------------------------------------------------- */

.entry-content
	clearfix()

	a
		text-decoration: none

		&:focus,
		&:hover
			opacity: .8


.entry-title
	font-size: 3sx
	line-height: auto
	margin-bottom: 0.5gr

.entry-excerpt
	margin-bottom: 1.5gr

.post .category-links
	font-weight: 400
	letter-spacing: -.01em
	margin-bottom: 1gr
	&, a

		color: $gray_light

.entry-footer
	margin-bottom: 1gr
	line-height: auto

	.posted-on
		display: block

.featured-image
	img
		display: block



/*--------------------------------------------------------------
 * Byline, Comments, Edit link
 *--------------------------------------------------------------*/
.byline::after
	margin: 0 .25gr

.comments-link, .edit-link
	&::before
		margin: 0 .25gr

.single, .group-blog
	.byline
		display: inline