// theme-check requries sticky styles
.sticky
	background-color: transparentify($bright, 0.02)
	padding: 1gr

.layout--grid .post
	font-size: 0sx

	.entry-title
		margin-bottom: .5gr

	.entry-excerpt
		margin-bottom: 1.5gr

	.read-more
		text-transform: uppercase
		font-weight: 500
		font-family: $font_alt

	.wp-post-image
		width: 100%

	.category-links
		font-weight: 400
		letter-spacing: -.01em
		margin-bottom: 1gr
		&, a
			@extend $link--textual


+hasgrid()
	.layout--grid
		.site-content
			display: grid
			grid-gap: 1gr
			align-content: start

			grid-template-columns: 1fr 1fr
			@media $desk
				grid-template-columns: repeat( auto-fit, minmax(320px, 1fr) )

			@media $palm
				display: block
				.post
					margin-bottom: 1gr
		.page-header
			grid-column: 1/-1

		.entry-title
			font-size: 1sx
			line-height: auto
			font-weight: 500

		.site-content > article
			background-color: $white
			padding: 1gr
			margin: 0
			border-radius: 2px
			grid-column: span 1
			box-shadow: $shadow

		.posts-navigation
			grid-column: 1 / -1


	/*--------------------------------------------------------------
	 * Increase the size of first post in the blog
	 * CSS Specificity is quite high here....
	 *--------------------------------------------------------------*/
	@media $large_desk
		.layout--grid.blog:not(.paged) .post:first-child
			display: flex
			grid-column: 1 / -2

			.entry-header
				flex: 6
				display: flex
				flex-direction: column
				img
					margin: 0
					object-fit: cover
					flex: 1

			.entry-summary
				flex: 3
				padding: 2gr
				align-self: center

			.entry-footer
				margin: 0

	@media $larger_desk
		.layout--grid.blog:not(.paged) .post:first-child
			grid-column: span 3