/*--------------------------------------------------------------
 *## Posts and pages
 *-------------------------------------------------------------- */

.entry-content
	clearfix()

	a
		text-decoration: none

		&:focus,
		&:hover
			opacity: .8


.entry-title
	font-size: 3sx
	line-height: auto
	margin-top: .5gr
	margin-bottom: .5gr

.entry-header
	margin-bottom: 1gr

	.category-links
		font-weight: 300
		letter-spacing: -.01em
		smooth-fonts()
		&, a
			color: $gray_light



.entry-meta
	margin-bottom: 1gr
	line-height: auto
	smooth-fonts()
	&, a
		color: $gray_light

.featured-image
	margin-bottom: 1gr
	img
		display: block



/*--------------------------------------------------------------
 * Byline, Comments, Edit link
 *--------------------------------------------------------------*/
.byline::after
	margin: 0 .25gr

.comments-link, .edit-link
	&::before
		margin: 0 .25gr

.single, .group-blog
	.byline
		display: inline