// theme-check requries sticky styles
.sticky
	background-color: transparentify($bright, 0.02)
	padding: 1gr

.blog .post
	padding-bottom: 3gr
	margin-bottom: 3gr

	.read-more
		text-transform: uppercase
		font-weight: 700
		font-family: $font_alt

	.wp-post-image
		width: 100%


+hasgrid()
	.blog .site-content
		width: 100%
		display: grid
		grid-gap: 1gr
		align-content: start

		grid-template-columns: 1fr 1fr
		@media $desk
			grid-template-columns: repeat( auto-fill, minmax(320px, 1fr) )

		@media $palm
			display: block
	.blog
		.entry-title
			font-size: 1sx
			line-height: auto
		.post
			background-color: $white
			padding: 1gr
			margin: 0
			border-bottom: 4px solid $dark
			border-radius: 2px
			grid-column: span 1

		.posts-navigation
			grid-column: 1 / -1

	@media $large_desk
		.blog:not(.paged) .post:first-child
			display: flex
			grid-column: span 3

			.entry-header
				flex: 6
				display: flex
				flex-direction: column
				img
					margin: 0
					object-fit: cover
					flex: 1

			.entry-summary
				flex: 3
				padding: 2gr
				align-self: center

			.entry-footer
				margin: 0

