// theme-check requries sticky styles
.sticky
	background-color: transparentify($bright, 0.02)
	padding: 1gr

.blog .post
	padding-bottom: 3gr
	margin-bottom: 3gr

	.wp-post-image
		margin-bottom: 1gr

	.read-more
		text-transform: uppercase
		font-weight: 700
		font-family: $font_alt

