.single-post
	.entry-content
		> \ // \ escapes syntax for phpStorm, it doesn't do anything really
			p, ul, ol, h1, h2, h3, h4, h5, h6, address
				max-width: 45rem
				margin-left: auto
				margin-right: auto