/*--------------------------------------------------------------
 *## Posts and pages
 *-------------------------------------------------------------- */

.singular .site
	width: 100%

.singular
	.site-header
		margin-bottom: 0

	.site
		width: 100%

	.entry-content
		max-width: 60rem
		margin-left: auto
		margin-right: auto
		clearfix()

	.entry-header
		background-color: $white
		padding: 2gr
		margin-bottom: 3gr
		text-align: center

	.entry-title
		font-weight: 600
		letter-spacing: 0
		font-size: 8sx
		line-height: auto

/*
	Post/Page content style ( typography, images, etc. )
 */
.entry-content
	a

		text-decoration: none

		&:focus,
		&:hover
			opacity: .8

	h1, h2, h3, h4, h5, h6
		margin-bottom: 2 gr

.entry-footer
	margin-bottom: 1 gr
	line-height: auto

	.posted-on
		display: block

.featured-image
	img
		display: block

/*--------------------------------------------------------------
 * Byline, Comments, Edit link
 *--------------------------------------------------------------*/
.byline::after
	margin: 0 .25 gr

.comments-link, .edit-link
	&::before
		margin: 0 .25 gr

.single, .group-blog
	.byline
		display: inline