.single-post
	.post
		max-width: $content_width
		margin: auto auto 3gr

	.tags-links
		font-size: 0sx
		a
			@extends $button--tag
			font-size: 0sx
			margin-left: .325gr


	.attachment-post-thumbnail
		display: block
		margin: auto auto 2gr