
$black = #242424
$dark = #062b30
$gray = #636363
$gray_light = #888888
$light = #e7e7e7
$bright = #f4f4f4
$white = #fff


$light_alt = #f5fafa
$border = #e1e5e6

$accent = #6030f0
$accent_alt = $accent
$accent_alt = #012180



$link_color = #240e60
$text_color = #062b30