
$black = #242424
$dark = #2c2a33
$gray = #636363
$gray_light = #888888
$light = #e7e7e7
$bright = #f4f4f4
$white = #fff


$light_alt = #f5fafa
$light_alt = #f9f9f9
$border = #e1e5e6

$accent = #461B93
$accent_alt = #2d1f45



$link_color = #461B93
$text_color = #3b3841
