
$black = #242424
$dark = #3d3d3d
$gray = #636363
$gray_light = #888888
$light = #e7e7e7
$bright = #f4f4f4
$white = #fff


$accent = #6030f0
$accent_alt = $accent
$accent_alt = #012180



$link_color = #240e60
$text_color = $dark