/*--------------------------------------------------------------
 *## Footer
 *-------------------------------------------------------------- */
.site-footer
	margin-top: 4gr
	padding: 1gr
	text-align: right
	background-color: $white