/*--------------------------------------------------------------
 *## Header
 *-------------------------------------------------------------- */
.site-header
	position: relative
	padding: 2gr
	margin-bottom: 4gr

	background-color: $accent

	&, a
		color: $white

	.button
		@extends $button--light


	@media $lap
		display: flex
		justify-content: space-between
		align-items: center

@media $palm
	.site-branding
		margin-bottom: 1gr




.custom-logo-link
	display: block
	margin-right: .5gr

	img
		display: block
		height: 95px
		width: auto

.site-name
	margin: 0
	padding: 0
	font-size: 3sx
	line-height: auto
	font-weight: 700


.site-description
	font-size: 0sx
	line-height: auto