/*--------------------------------------------------------------
 *## Header
 *-------------------------------------------------------------- */
.site-header
	position: relative
	background-color: $white
	width: 100%
	margin-bottom: 2gr
	border-top: .2gr solid $accent

	.singular &
		margin-bottom: 5gr

	.site-header__inner
		padding: 2gr 0


		display: flex
		justify-content: space-between
		align-items: center


.custom-logo-link
	display: block
	margin-right: .5gr

	img
		display: block
		height: 95px
		width: auto

.site-name
	@extend h1
	font-weight: 600
	margin: 0
	padding: 0


.site-description
	font-size: 0sx
	line-height: auto